:root {
  --swiper-theme-color: #fabc6a;
  --swiper-pagination-top: 12px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid rgb(123, 255, 86);
}

section {
  outline: 1px solid tomato;
}

.header-up {
  background-color: #CFE1E7;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-up__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-up__text {
  font-size: 12px;
  line-height: 1.62;
  color: inherit;
}

.header-down {
  padding-top: 19px;
  padding-bottom: 21px;
  background-color: #F9F6F0;
}

.header-down__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-down__text {
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.28px;
}

.line-link {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.line-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #5f5f5f;
}

.line-link:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  border-radius: 20px;
  background-color: #F9F6F0;
  border: 1px solid transparent;
  -webkit-transition: 350ms border-color cubic-bezier(0.4, 0, 0.2, 1), 350ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 350ms border-color cubic-bezier(0.4, 0, 0.2, 1), 350ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 350ms border-color cubic-bezier(0.4, 0, 0.2, 1), 350ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 350ms border-color cubic-bezier(0.4, 0, 0.2, 1), 350ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 350ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 1px 0 0 rgb(119, 119, 119), 0 2px 0 0 rgb(119, 119, 119), 0 3px 0 0 rgb(119, 119, 119), 0 4px 0 0 rgb(119, 119, 119), 0 5px 0 0 rgb(119, 119, 119), 0 6px 0 0 rgb(119, 119, 119), 0 0 5px 0 rgba(0, 0, 0, 0.0980392), 0 1px 3px 0 rgba(0, 0, 0, 0.298039), 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.247059), 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.14902);
          box-shadow: 0 1px 0 0 rgb(119, 119, 119), 0 2px 0 0 rgb(119, 119, 119), 0 3px 0 0 rgb(119, 119, 119), 0 4px 0 0 rgb(119, 119, 119), 0 5px 0 0 rgb(119, 119, 119), 0 6px 0 0 rgb(119, 119, 119), 0 0 5px 0 rgba(0, 0, 0, 0.0980392), 0 1px 3px 0 rgba(0, 0, 0, 0.298039), 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.247059), 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.14902);
  text-shadow: 0 1px 0 #ffffff;
}
.btn:hover, .btn:focus {
  border-color: #5f5f5f;
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.247059), 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 14px 20px 0 rgba(0, 0, 0, 0.14902);
          box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.247059), 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 14px 20px 0 rgba(0, 0, 0, 0.14902);
}

.hero__container {
  padding-top: 412px;
  padding-bottom: 120px;
  position: relative;
  background-image: url(../images/bgd-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__wrapper {
  width: 220px;
  margin-left: 131px;
  text-align: center;
}

.hero__title {
  font-size: 31px;
  line-height: 1.39;
  font-weight: 400;
}

.hero__text {
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 21px;
}

.hero__btn {
  background-color: #CFE1E7;
}

.rectangle {
  position: absolute;
  width: 47px;
  height: 116px;
  top: 229px;
  left: 30px;
  background-color: #F0C1A6;
}

.rectangle__text {
  margin-left: 10px;
  margin-top: 18px;
  font-size: 13px;
  line-height: 1.51;
  text-transform: uppercase;
  color: #FEFEFE;
}

.hero__btn--right {
  position: absolute;
  right: 150px;
  bottom: 80px;
}

swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 255px;
  height: 303px;
}

swiper-slide img {
  width: 100%;
}

.swiper-text {
  margin-top: 15px;
  text-align: center;
}

.wedding {
  padding-top: 49px;
}

.wedding__title {
  font-weight: 400;
  font-size: 43px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;
}

.wedding__text {
  font-size: 14px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.28px;
  margin-bottom: 14px;
}/*# sourceMappingURL=main.css.map */