:root {
    --swiper-theme-color: #fabc6a;
    --swiper-pagination-top: 12px;
}
$color-header-up: #CFE1E7;
$color-header-down: #F9F6F0;
$color-left-hero: #F0C1A6;
$color-left-rext:#FEFEFE;
$color-making: #98B7A4;
$color-about: #E5DFD3;
$color-for-all:#CFE1E6;
$color-btn-header:#CFE1E7;
$color-btn:#F9F6F0;
$color-text: #000000;
$line-link: #5f5f5f;

$timing-function: cubic-bezier(0.4,0,0.2,1);