// 79 103   235
.about {
    padding-top: 79px;
    padding-bottom: 103px;
    background-color: $color-about;
}
.about__title {
margin-bottom: 135px;
font-weight: 400;
    font-size: 14px;
    line-height: 1.62;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.28px;
}
.about__text {
font-size: 50px;
    line-height: 1.18;
    text-align: center;
    margin-left: 125px;
    margin-right: 125px;
}
