.wedding{
    padding-top: 49px;
}
.wedding__title {
    font-weight: 400;
        font-size: 43px;
        line-height: 1.4;
       
    
        text-align: center;
        margin-bottom: 20px;
}

.wedding__text {
    font-size: 14px;
        line-height: 1.62;
        
    
        text-align: center;
        letter-spacing: 0.28px;
        margin-bottom: 14px;
}
